# 環境変数
.env

# Python関連
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# 仮想環境
.venv/
venv/
ENV/

# 開発ツール関連
.idea/
.vscode/
*.swp
*.swo

# OS関連
.DS_Store
Thumbs.db

# アップロードされた画像
uploads/

.specstory/
tests/

flask_session/
flask_session/